---
import { Icon } from 'astro-icon/components'
---

<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='viewport' content='width=device-width' />
    <meta name='generator' content={Astro.generator} />
    <title>apply overflow:visible to symbol tag | astro-icon sprite test</title>
  </head>
  <body>
    <h1><code is:raw>symbol { overflow: visible; }</code></h1>

    <h2><code>viewBox="0 0 128 128"</code></h2>
    <Icon name='astro' is:inline size={100} />

    <h2><code>viewBox="22.18 6.48 83.44 118.99"</code></h2>
    <Icon name='astro-cropped' is:inline size={100} />
  </body>
</html>

<style>
  [data-icon] :global(symbol) {
    overflow: visible;
  }
</style>
